
<div class="jumbotron">
  <h1 class="display-4">HELLO BOOKS</h1>
  <h3 class="display-8">Wanna be my li-bro? </h3>
  <hr class="my-4">
  <p class="lead">Connect to friends, see what others are reading, discuss books, and find new books!</p>
</div>

<br><br>
<%= button_to "Sign In" %>
<%= button_to "Sign Up" %>
