
<div class="jumbotron">
  <h1>HELLO BOOKS</h1>
  <h3>Wanna be my li-bro? </h3>
  <%= button_to "Sign In" %>
  <%= button_to "Sign Up" %>
</div>

<div class="card">
  <div class="card-body">
    Connect to friends, see what others are reading, discuss books, and find new books!
  </div>
</div>
