<h1 class="ui centered dividing header">BOOKCLUB MEMBERS</h1>

<div class="ui six column grid">
  <% @users.each do |user|  %>
  <div class="column">
    <div class="ui fluid card">
      <div class="ui image">
        <%= image_tag("/uploads/#{user.image}", width: '100') %>
      </div>
      <div class="content">
        <h3><%= link_to user.name, user_path(user), html: { class:"btn btn-primary" } %></h3>
        <p><%= user.bio %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
