<h1> BBOOOOOOKKKSSS </h1>

<% @books.each do |book| %>
  <%= link_to book.title, book %>
<% end %>





<!-- Display all books w/ little image
Search by tag -->
<!-- interations: discussions & authors -->
